@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.contenedor-total{
	width: 100%;
<<<<<<< HEAD
	min-width: 768px;
=======
>>>>>>> 3c1d294dc251ae8535406a307c832383918048f6
}

.contenedor-imagen{
	width: 100%;
	height: 90vh;
	background-image: url(../images/slider/bg1.jpg);
	background-size: cover;
	display: inline-block;
	background-position: top; 
}
/*todo sobre el nav*/
header{
	width: 100%;
	background: #34495e;
	height: 80px;
}

h2{
	margin: 0;
}

.logo {
	float: left;
}

.menu{
	float: right;
	margin-top: 25px;
}

.menu ul li{
	display: inline-block;
	margin-left: 20px;
}

.menu ul li a{
	text-decoration: none;
	color: #fff;
	opacity: 0.8;
}

.active{
	padding: 8px 20px;
	border-radius: 3px;
	background-color: #2c3e50;
}

.menu ul li a:hover{
	opacity: 1;
}

.toggle-menu{
    display: none;
}

.menu-desktop {
    position: static;
    padding: 0;
    background-color: transparent;
    height: auto;
    overflow: visible;
    margin: 0;
}

@media screen and (max-width: 768px){
	.toggle-menu{
	    display: block;
	    float: right;
	    line-height: 80px;
	    outline: none;
	}

	.menu-desktop.visible {
	    height: 306px;
	}

	.menu-desktop {
		position: absolute;
    	left: 0;
    	top: 80px;
		z-index: 10;
	    background-color: #333333;
	    width: 100%;
	    height: 0;
	    overflow: hidden;
	    transition: 0.5s height;
	    -webkit-transition: 0.5s height;
	    -moz-transition: 0.5s height;
	}

	.menu {
		float: none;
		line-height: 50px;
		margin: 0;
	}

	.active{
		padding: 0;
    	border-radius: 0px;
    	background-color: rgba(0,0,0,0);
	}

	.menu ul{
		text-align: center;
		padding: 0;
	}

	.menu ul li{
		display: block;
		margin-left: 0;
	}

	.menu ul li a{
		border-bottom: 1px solid #fff;
		margin-left: 0;
		display: block;
	}
}


 /*todo sobre banner*/
 .mensaje-contenedor{
 	width: 60%;
 	height: 20vh;
 	display: inline-block;
 	margin-top: 35vh;
 	color: white;
 	margin-left: 15vh;
 }
 
.mensaje-1{
	font-size: 3vh;
}

h1{
	font-size: 5vh;
}

.FR ul {
	list-style: none;
	display: inline-block;
	margin-top: 10px;
}

.FR ul  li{
	list-style: none;
	display: inline-block;
}

.port {
	color: #fff;
	background: #2DCC70;
	padding:50px 80px;
	height: 170px;
	margin: 0;
	width: 100%;

}

.port h2, .port h4, .port li  {
	margin: 0;
}

.port .FL {
	float: left;
}

.port .FR {
	float: right;
	margin-top: 10px;
	width: 300px;
}

.port .ccc {
	color: #ccc;
}

.portimg p {
	font-weight: bold;
	margin-right: 10px;
}

.portimg {
	padding: 40px 50px;
	width: 100%;
}

.portimg img {
	width: 340px;
	height: 229px;
	box-shadow: -1px 0px 5px -1px;
	border: 3px solid white;
}





/*TODO REDES SOCIALES*/
.redes-sociales{
	width: 100%;
	height: 35vh;
	background: #2ecc71;
	display: inline-block;
}

.general-red-sociales{
	width: 90%;
	height: 28vh;
	margin:auto;
	margin-top: 4vh;

}

.cuadrado{
	width: 30%;
	height: 100%;
	display: inline-block;
}

.cuadrado1{
	width: 30%;
	height: 100%;
	display: inline-block;
	margin-right: 4.5%;
	margin-left:4.5%;
}

.cuadrado2{
	width: 30%;
	height: 100%;
	display: inline-block;
}

.cuadro-texto{
	width: 75%;
	height: 100%;
	float: right;
}

.tiulo-text{
	color: white;
	font-size: 4vh;
}

.campo-texto{
	color: white;
	font-size: 2.2vh;
}

/*PROJECT TODO*/

.project-general{
	width: 100%;
	height: 45vh;
	display: inline-block;
}

.alineado-project{
	width: 90%;
	height: 38vh;
	margin:auto;
	margin-top: 4vh;
}

.cuadro-texto-project{
	width: 30%;
	height: 100%;
	display: inline-block;
}

.conjunto-img{
	width: 68%;
	height: 100%;
	display: inline-block;
}

.texto1{
	width: 100%;
	height: 100%;
	margin:auto;
	float: left;
	margin-top: 2vh;

}

.botones-project{
	background: #d9534f;
	color: white;
	width: 5vh;
	height: 5.5vh;
	border: 1px solid #d5443f;
	border-radius:5px; 
	margin: 0;
	font-size: 17px;
}

.project-img{
	width: 30%;
	height: 35vh;
	background: white;
	margin-top: 2vh;
	margin-right: 1%;
	display: inline-block;
}

.img-dentro{
	width: 95%;
	height: 31vh;
	background: black;
	margin:auto; 
}

/*CLIENTES-TODO*/

.clients-general{
	width: 100%;
	height: 55vh;
	background: #d9534f;
	margin-top: 2vh;
	display: inline-block;
}

.centrar-texto-clientes{
	width: 85%;
	height: 40vh;
	margin: auto;
	margin-top: 2.5vh;
}

.caja-texto-completo{
	width: 100%;
	height: 35vh;
	display: inline-block;
}

.col-1{
	width: 49.5%;
	height: 35vh;
	display: inline-block;
}

.box-text-1{
	width: 100%;
	height: 17vh;
	margin-bottom:3vh;
	border-left: 5px solid white;
	float: left;
	padding-left: 1vh;
}

/*todo sobre el footer*/

.whatare p {
	padding: 0px 100px;
}

.weare {
	padding: 0px 100px;
}

.ourS {
	margin-bottom: 20px;
}

.skillscss {
	width: 80%;
	background: #d9534f;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.skillsWP {
	width: 60%;
	background: #5cb85c;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.skillsJ {
	width: 45%;
	background: #428bca;
	margin-right: 50px;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.skillsD {
	width: 50%;
	background: #5bc0de;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.skillsPHP {
	width: 65%;
	background: #f0ad4e;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.meettext h3, .meettext p {
	text-align: center;
}

.davidJ p {
	color: #b3b3b3;
}

.davidJ h4 {
	font-size: 16px;
}

.davidJ {
	padding: 0px 100px;
	text-align: center;
	margin-bottom: 30px;
}

.davidJ ul .blue {
	background: #3B5998;
}

.davidJ ul .skyblue {
	background: #5DA9DD;
}

.davidJ ul .invi {
	background: #1686B0;
}

.davidJ ul li{
	display: inline-block;
	background: #D62020;
	border-radius: 100px;
	width: 35px;
	height: 35px;
}

.davidJ ul li i {
	color: #fff;
	vertical-align: middle;
	margin-top: 10px;
}

.davidJ img {
	border-radius: 100px;
}
/*TODO CONTACT*/

.contact-general{
	width: 100%;
	height: 70vh;
	display: inline-block;
}

.centrar-contact{
	width: 85%;
	height: 60vh;
	margin: auto;
	margin-top: 5vh;
}

.cuadro-contac3{
	width: 31%;
	height: 95%;
	display: inline-block;
}

.cuadro-contac1{
	width: 31%;
	height: 100%;
	display: inline-block;
}

.cuadro-contac2{
	width: 31%;
	height: 90%;
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
}

.solucion{
	width: 100%;
	height: 100%;
	float: left;
}

.input-contact{
	width: 100%;
	margin-bottom: 3%;
	margin-top: 3%;
	padding: 1vh;
	font-size: 2.3vh;
	border-radius: 5px;
	border: 1px solid #cccccc;
}

.boton-contact{
	width:25vh;
	height: 6vh;
	border-radius: 5px;
	border: 1px solid #357ebd;
	font-size: 2.5vh;
	color:white;
	background: #428bca;
}

.textarea-contact{
	width: 100%;
	height: 85%;
	border-radius: 5px;
	border: 1px solid #cccccc;
	resize: none;
}

/* SERVICIOS */

.whatwedo, .whattheysay {
	text-align: center;
}

.whattheysay {
	height: 280px;
}

.coment {
	text-align: left;
	padding: 0px 80px;
}

.BG {
	border-left: 3px solid #d9d9d9;
}

.coment p {
	color: #999;
}

.coment h3 {
	font-size: 20px;
}

.whatwedo i {
	color: #fff;
	background: #999;
	border-radius: 300px;
	padding: 20px;
	font-size: 35px;
	width: 68px;
	height: 68px;
}

.SO p, .SO h3 {
	text-align: left;
}


.SO {
	padding: 0px 60px;
	margin-bottom: 50px;
}

.SO h3 {
	margin: 0;
}

.wwd-top {
	margin: 40px 0px;
}

/*TODO SOBRE  BLOG-ITEM*/
.contenedor-contenido{
	width: 90%;
	margin:auto;
	margin-top:3vh;
	height: 2000px;
}
.col-1-blog{
	width: 70%;
	float: right;

}
.col-2-blog{
	width:30%;
	float: right;
}
.text-blog{
	width: 95%;
	margin: auto;
}
.tags{
	width: 50%;
	display: flex;
}
.comentario-principal{
	width: 90%;
	height: 25vh;
	margin: auto;
	margin-top: 2vh;
	display: flex;
	background: #f5f5f5;
}
.comtario-1{
	width: 95%;
	height: 20vh;
	margin: auto;
	margin-top: 3vh;
	display: flex;
}
.foto-comentario-1{
	width: 18vh;
	height: 100%;
	background: yellow;
}
.text-comentario-1{
	width: 85%;
	height: 100%;
	margin-left: 2%;
}
.text-comentario-2{
	width: 100%;
	height: 100%;
	margin-left: 2%;
}
.comentario-secundario{
	width: 90%;
	height: 25vh;
	margin-top: 2vh;
	display: flex;
	background: #f5f5f5;
}
.caja-comentario-2{
	display: flex;
}
.circulo{
	width: 10vh;
	height: 10vh;
	border-radius: 5vh;
	background-image: url(../images/blog/avatar1.png);
	background-size: cover; 
}
.circulo-2{
	width: 10vh;
	height: 10vh;
	border-radius: 5vh;
	background-image: url(../images/blog/avatar2.png);
	background-size: cover; 
}
.circulo-3{
	width: 10vh;
	height: 10vh;
	border-radius: 5vh;
	background-image: url(../images/blog/avatar3.png);
	background-size: cover; 
}
.comentario-secundario-2{
	width: 90%;
	height: 20vh;
	margin-top: 2vh;
	display: flex;
	background: #f5f5f5;
}
.caja-comentario-2-2{
	display: flex;
	margin-left: 10vh;
	margin-top: 2vh;
}
.commet{
	width: 100%;
	display: flex;
}
.input-comment{
	width: 45%;
	margin-right: 3%;
	font-size: 2.5vh;
	padding: 1vh;
	border-radius: 1vh;
	border: 1px solid #cccccc;
}
.input-comment-2{
	width: 45%;
	margin-right: 5%;
	font-size: 2.5vh;
	padding: 1vh;
	border-radius: 1vh;
	border: 1px solid #cccccc;
}

.comment-text{
	width: 94%;
	padding: 1vh;
	border-radius: 1vh;
	border: 1px solid #cccccc;
	height: 30vh;
	margin-top: 2vh;
	resize: none;
}
.boton-comment{
	width: 30%;
	padding: 1vh;
	color: white;
	background: #d9534f;
	border-radius: 1vh;
	font-size: 3vh;
	margin-top: 2vh;
	border: 1px solid #cccccc;
}
.search-1 {
	width: 80%;
	padding: 7px;
	border-radius: 4px 0px 0px 4px;
	border: 0.2vh solid #cccccc;
	font-size: 16px;
	padding-right: 10px;
}
.portadas{
	width: 100%;
	height: 60vh;
	margin-top: 2vh;
}
.bloque-1{
	width: 100%;
	height: 29vh;
	margin-bottom: 2vh;
	display: flex;
}
.bloque-2{
	width: 100%;
	height: 29vh;
	display: flex;
}
.portada-1{
	width: 49%;
	height: 30vh;
	margin-right:2%; 
}
.portada-2{
	width: 49%;
	height: 30vh;
}
.categorias{
	width: 100%;
	height:20vh;
	display: inline-block;
}
.categoria-1{
	width: 48%;
	height: 20vh;
	display: inline-block;
}
.categoria-2{
	width: 48%;
	height: 20vh;
	display: inline-block;
}

/* BLOG */

.button-blog{
	padding: 1.5vh 2.5vh;
	border-right:  3px solid grey;
	font-size: 2vh;
	background: none;
	margin-top: 1vh;
	margin-bottom: 1vh;
}


/*RESPONSIVE*/
@media (max-width: 768px){

	.whatare p, .whatare h3 {
		padding: 0;
	}


	.whatare {
		width: 100%;
	}

	.Skillsour {
		width: 100%;
	}

	.weare {
		height: 100%;
		padding: 0px 10px;
	}

	.port {
		padding: 0px;
		padding-top: 50px;
	}

	.port h4 {
		font-size: 14px;
	}

	.port .FR {
		margin: 20px 0px;
		width: 205px;
	}

	.row {
		height: 100%;
	}

	.portimg img {
		width: 100%;
		height: 100%;
		padding: 0;

	}

	.Pzero {
		padding: 0px 5px;
	}

	.portimg {
		height: 100%;
		padding: 0;
		margin: 0;
		margin-bottom: 25px;
	}

	.footer1 {
		height: 100%;
	}

	.w50 {
		width: 50%;
	}

	.Rservices {
		width: 100%;
		margin-bottom: 20px;
	}

	.Rservices .col-9 {
		padding: 0;
	}

	.SO {
		padding: 0;
	}

	.r16 {
		width: 16.66666%;
		padding: 0;
		margin-right: 10px;
	}

	.BG {
		width: 100%;
		margin-bottom: 20px;
	}

	.whattheysay {
		height: 350px;
	}

	.clients-general {
		margin-top: 50px;
	}

	.whatwedo {
		margin: 0px;
	}

	.whatwedo i {
		font-size: 30px;
	}

	.whattheysay {
    	height: 600px;
	}
	.input-comment{
		width: 100%;
	}
	.input-comment-2{
		width: 100%;
	}

	.contact-general {
		height: 1100px;
	}
}

@media (max-width:800px ){
	.alinear-listado{
		display: none;
	}
	.mensaje-contenedor{
		text-align: center;
	}


	
	.cuadrado{
		display: block;
		width: 100%;
		margin-top: 20px;
	
	}
	.cuadrado1{
		width: 100%;
		display: block;
		margin-top: 20px;
		margin: 0;
		margin-top: 15px;
	}
	.cuadrado2{
		width: 100%;
		display: block;
		margin-top: 20px;
	}
	.redes-sociales{
		width: 100%;
		height: 95vh;
	}
	.clients-general{
		height: 109vh;
	}
	.col-1{
		width: 100%;
		display: block;
	}
	.cuadro-contac1{
		display: block;
		width: 100%;
	}
	.cuadro-contac2{
		display: block;
		width: 100%;
	}
	.cuadro-contac3{
		display: block;
		width: 100%;
	}

}

@media (max-width: 900px){
	.conjunto-img{

		display: block;
		width: 100%;
		margin-bottom: 30px;

	}
	.cuadro-texto-project{
		width: 100%;
	}
}

@media (max-width: 360px){
	.whattheysay {
    	height: 600px;
	}
	.comentario-principal{
	width: 100%;
	height: 32vh;
	}
	.comtario-1{
	width: 100%;
	}
	.comentario-secundario{
	height: 32vh;
	}
	.comentario-secundario-2{
		height: 28vh;
	}
	
}
@media (max-width:1045px ){
 
 .contenedor-contenido{
	width: 100%;
	height: 2700px;
 }
 .col-2-blog{
	width:100%;
	float: right;
}
.col-1-blog{
	width: 100%;
	float: left;
	padding: 0;

}
.search-1{
	width: 83%;
}

}
@media (max-width:400px ){

.categoria-1{
	width: 100%;
}
.categoria-2{
	width: 100%;
}


}
@media (max-width:400px ){
.boton-comment{
	width: 50%;
}


}