@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
*{
	margin: 0;
	padding: 0;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.contenedor-total{
	width: 100%;
}
.nav-general{
	width: 100%;
	height: 10vh;
	background: #34495e;
}
.contenedor-imagen{
	width: 100%;
	height: 90vh;
	background-image: url(../images/slider/bg1.jpg);
	background-size: cover;
}
.contenedor-general-logo{
	width: 20%;
	height: 100%;
	display: inline-block;
}
.contenido-logo{
	width: 50%;
	height: 45%;
	margin-top: 25px;
}
.nav-alinear{
	width: 90%;
	height: 100%;
	margin: auto;
}
.contenedor-botones{
	width: 70%;
	height: 100%;
	float: right;
}
.botones-general{
	width: 65%;
	height: 100%;
	float: right;
}
ul{
	display: block;
	list-style: none;
}
ul li{
	display: inline-block;
	padding: 30px;
	font-size: 19px;
}
a{
	color: white;
}

