@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.contenedor-total{
	width: 100%;
}

.contenedor-imagen{
	width: 100%;
	height: 90vh;
	background-image: url(../images/slider/bg1.jpg);
	background-size: cover;
	display: inline-block;
	background-position: top; 
}
/*todo sobre el nav*/
.nav-general{
	width: 100%;
	height: 10vh;
	background: #34495e;
}
.nav-alinear{
	width: 93%;
	height: 90%;
	margin:auto;	
}
.contenedor-logo{
	width: 25%;
	height: 100%;
	display: flex;
	float: left;
}

.contenido-logo{
	width: 200px;
	height: 30px;
	margin: auto;
	margin-top:2vh; 

}
.contenedor-listado{
	width: 60%;
	height: 100%;
	float: right;
	display: flex;
}
.alinear-listado{
	width: 600px;
	height: 50%;
	margin: auto;
	margin-top: 1.5%;
}

.alinear-listado ul{
	display: flex;
}
.alinear-listado ul li{
	list-style: none;
	padding: 10px;
	margin-right: 5%;
	padding-right: 7px; 
	border-radius: 5px;
}
 ul li a{
 	text-decoration: none;
 	color: white;
 	font-size: 16px;
 }
.alinear-listado ul li:hover{
 	background: #444444;
 	color:white;
 	border: none;
 }
.alinear-listado a:hover{
 	color:white;
 	text-decoration: none;
 }
 /*todo sobre banner*/
 .mensaje-contenedor{
 	width: 60%;
 	height: 20vh;
 	display: inline-block;
 	margin-top: 35vh;
 	color: white;
 	margin-left: 15vh;
 }
 
.mensaje-1{
	font-size: 3vh;
}

h1{
	font-size: 5vh;
}


.FR ul {
	list-style: none;
	display: inline-block;
	margin-top: 10px;
}

.FR ul  li{
	list-style: none;
	display: inline-block;
}

.port {
	color: #fff;
	background: #2DCC70;
	padding:50px 80px;
	height: 170px;
	margin: 0;
	width: 100%;

}

.port h2, .port h4, .port li  {
	margin: 0;
}

.port .FL {
	float: left;
}

.port .FR {
	float: right;
	margin-top: 10px;
	width: 300px;
}

.port .ccc {
	color: #ccc;
}

.portimg p {
	font-weight: bold;
	margin-right: 10px;
}

.portimg {
	padding: 40px 50px;
	width: 100%;
}

.portimg img {
	margin-right: 30px;
	width: 340px;
	height: 229px;
	box-shadow: -1px 0px 5px -1px;
	border: 3px solid white;
}
/*TODO REDES SOCIALES*/
.redes-sociales{
	width: 100%;
	height: 35vh;
	background: #2ecc71;
	display: inline-block;
}
.general-red-sociales{
	width: 90%;
	height: 28vh;
	margin:auto;
	margin-top: 4vh;

}
.cuadrado{
	width: 30%;
	height: 100%;
	display: inline-block;
}
.cuadrado1{
	width: 30%;
	height: 100%;
	display: inline-block;
	margin-right: 4.5%;
	margin-left:4.5%;
}
.cuadrado2{
	width: 30%;
	height: 100%;
	display: inline-block;
}
.cuadro-texto{
	width: 75%;
	height: 100%;
	float: right;
}
.tiulo-text{
	color: white;
	font-size: 4vh;
}
.campo-texto{
	color: white;
	font-size: 2.2vh;
}

/*PROJECT TODO*/

.project-general{
	width: 100%;
	height: 45vh;
	display: inline-block;
}
.alineado-project{
	width: 90%;
	height: 38vh;
	margin:auto;
	margin-top: 4vh;
}
.cuadro-texto-project{
	width: 30%;
	height: 100%;
	display: inline-block;
}
.conjunto-img{
	width: 68%;
	height: 100%;
	display: inline-block;
}
.texto1{
	width: 100%;
	height: 100%;
	margin:auto;
	float: left;
	margin-top: 2vh;

}
.botones-project{
	background: #d9534f;
	color: white;
	width: 5vh;
	height: 5.5vh;
	border: 1px solid #d5443f;
	border-radius:5px; 
	margin: 0;
	font-size: 17px;
}
.project-img{
	width: 30%;
	height: 35vh;
	background: white;
	margin-top: 2vh;
	margin-right: 1%;
	display: inline-block;
}
.img-dentro{
	width: 95%;
	height: 31vh;
	background: black;
	margin:auto; 
}

/*CLIENTES-TODO*/

.clients-general{
	width: 100%;
	height: 55vh;
	background: #d9534f;
	margin-top: 2vh;
	display: inline-block;
}
.centrar-texto-clientes{
	width: 85%;
	height: 40vh;
	margin: auto;
	margin-top: 2.5vh;
}
.caja-texto-completo{
	width: 100%;
	height: 35vh;
	display: inline-block;
}
.col-1{
	width: 49.5%;
	height: 35vh;
	display: inline-block;
}
.box-text-1{
	width: 100%;
	height: 17vh;
	margin-bottom:3vh;
	border-left: 5px solid white;
	float: left;
	padding-left: 1vh;
}

/*todo sobre el footer*/

.whatare p {
	padding: 0px 100px;
}

.weare {
	padding: 0px 100px;
}

.ourS {
	margin-bottom: 20px;
}

.skillscss {
	width: 80%;
	background: #d9534f;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.skillsWP {
	width: 60%;
	background: #5cb85c;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.skillsJ {
	width: 45%;
	background: #428bca;
	margin-right: 50px;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.skillsD {
	width: 50%;
	background: #5bc0de;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.skillsPHP {
	width: 65%;
	background: #f0ad4e;
	border: 1px solid black;
	padding: 7px;
	color: #fff;
	border-radius: 6px 0px 0px 6px;
}

.meettext h3, .meettext p {
	text-align: center;
}

.davidJ {
	padding: 0px 100px;
}
/*TODO CONTACT*/

.contact-general{
	width: 100%;
	height: 70vh;
	display: inline-block;
}
.centrar-contact{
	width: 85%;
	height: 60vh;
	margin: auto;
	margin-top: 5vh;
}
.cuadro-contac3{
	width: 31%;
	height: 95%;
	display: inline-block;
}
.cuadro-contac1{
	width: 31%;
	height: 100%;
	display: inline-block;
}
.cuadro-contac2{
	width: 31%;
	height: 90%;
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
}
.solucion{
	width: 100%;
	height: 100%;
	float: left;
}
.input-contact{
	width: 100%;
	margin-bottom: 3%;
	margin-top: 3%;
	padding: 1vh;
	font-size: 2.3vh;
	border-radius: 5px;
	border: 1px solid #cccccc;
}

.boton-contact{
	width:25vh;
	height: 6vh;
	border-radius: 5px;
	border: 1px solid #357ebd;
	font-size: 2.5vh;
	color:white;
	background: #428bca;
}
.textarea-contact{
	width: 100%;
	height: 85%;
	border-radius: 5px;
	border: 1px solid #cccccc;
	resize: none;
}









/*RESPONSIVE*/
@media (max-width: 768px){

	.port .FR {
		margin: 20px 0px;
		width: 158px;
	}

	.row {
		height: 230px;
	}

	.portimg img {
		width: 100%;
		height: 100%;

	}

	.portimg {
		height: 100%;
	}

	.footer1 {
		height: 100%;
	}

}

@media (max-width:800px ){
.alinear-listado{
	display: none;
}
.mensaje-contenedor{
	text-align: center;
}

.cuadrado{
	display: block;
	width: 100%;
	margin-top: 20px;

}
.cuadrado1{
	width: 100%;
	display: block;
	margin-top: 20px;
	margin: 0;
	margin-top: 15px;
}
.cuadrado2{
	width: 100%;
	display: block;
	margin-top: 20px;
}
.redes-sociales{
	width: 100%;
	height: 95vh;
}
.clients-general{
	height: 109vh;
}
.col-1{
	width: 100%;
	display: block;
}
.cuadro-contac1{
	display: block;
	width: 100%;
}
.cuadro-contac2{
	display: block;
	width: 100%;
}
.cuadro-contac3{
	display: block;
	width: 100%;
}


}
@media (max-width: 900px){
	.conjunto-img{
		display: block;
		width: 100%;
	}
	.cuadro-texto-project{
		width: 100%;
	}
}